<div class="card">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h1 style="font-family: 'Poppins', sans-serif;">Lista de proveedores</h1>
    <p-table #dt [columns]="cols" [value]="proveedor" selectionMode="multiple" [(selection)]="seleccionProveedor" [exportHeader]="'customExportHeader'" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 25, 50]">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button type="button" pButton pRipple icon="pi pi-download" (click)="dt.exportCSV()" class="p-button-help mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-export" (click)="dt.exportCSV({ selectionOnly: true })" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th pSortableColumn="proveedorRUC">RUC<p-sortIcon field="proveedorRUC"></p-sortIcon></th>
                <th pSortableColumn="proveedorRazonSocial">RAZON SOCIAL<p-sortIcon field="proveedorRazonSocial"></p-sortIcon></th>
                <th pSortableColumn="proveedorTelefono">TELEFONO<p-sortIcon field="proveedorTelefono"></p-sortIcon></th>
                <th pSortableColumn="proveedorTelefono">DIRECCION<p-sortIcon field="proveedorDireccion"></p-sortIcon></th>
                <th pSortableColumn="proveedorTelefono">CORREO<p-sortIcon field="proveedorCorreo"></p-sortIcon></th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="proveedorId"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="proveedorRUC"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="proveedorRazonSocial"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="proveedorTelefono"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="proveedorCorreo"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="proveedorDireccion"></p-columnFilter>
                </th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-proveedor>
            <tr [pSelectableRow]="rowData">
                <td>{{proveedor.proveedorId}}</td>
                <td>{{proveedor.proveedorRUC}}</td>
                <td>{{proveedor.proveedorRazonSocial}}</td>
                <td>{{proveedor.proveedorTelefono}}</td>
                <td>{{proveedor.proveedorCorreo}}</td>
                <td>{{proveedor.proveedorDireccion}}</td>
                <td>
                    <p-tag [value]="proveedor.proveedorEstado"
                    [severity]="obtenerEstado(proveedor.proveedorEstado)"></p-tag>
                </td>
                <td>
                    <div class="flex justify-content-start flex-wrap gap-3 mb-4">
                        <p-button icon="pi pi-info-circle"
                            styleClass="p-button-rounded p-button-info p-button-text p-button-raised"
                            (click)="detalleProveedor(proveedor.proveedorId)"></p-button>
                        <p-button icon="pi pi-pencil"
                            styleClass="p-button-rounded p-button-warning p-button-text p-button-raised"
                            (click)="actualizarProveedor(proveedor.proveedorId)"></p-button>
                        <p-button icon="pi pi-ban"
                            styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised"
                            (click)="inhabilitaProveedor(proveedor.proveedorId)"></p-button>

                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>