<div class="card">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h1 style="font-family: 'Poppins', sans-serif;">Registrar Mascota</h1>
        <div class="col-12 md:col-12">
            <form (ngSubmit)="registroMascota()" #mascotaForm="ngForm" class="form-sample">
            <div class="card p-fluid">
                <h5>Datos personales</h5>
                <div class="field grid">
                    <label style="color: #f00;" htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Campos requeridos (*)</label>
                </div>
                <div class="field grid">
                    <label for="cliente" htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Cliente (*)</label>
                    <div class="col-12 md:col-8">
                        <p-dropdown class="p-inputtext-lg" [options]="clientes" [(ngModel)]="mascota.cliente" optionLabel="clienteNombre" [filter]="true" id="cliente" name="cliente" #cliente="ngModel" [required]="true" placeholder="Sin seleccionar"></p-dropdown>
                    </div>
                </div>
                <div class="field grid">
                    <label for="nombre" htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Nombre (*)</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <i class="pi pi-github"></i>
                            <input type="text" class="p-inputtext-lg" pInputText [(ngModel)]="mascota.mascotaNombre" name="mascotaNombre" #mascotaNombre="ngModel" required/>
                        </span>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Tipo (*)</label>
                    <div class="col-12 md:col-8">
                        <p-dropdown [options]="tipos" class="p-inputtext-lg" [(ngModel)]="mascota.mascotaTipo" optionLabel="name" optionValue="name" [filter]="true" name="mascotaTipo" #mascotaTipo="ngModel"  [required]="true" placeholder="Sin seleccionar"></p-dropdown>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Raza (*)</label>
                    <div class="col-12 md:col-8">
                        <p-dropdown class="p-inputtext-lg" [options]="razas" [(ngModel)]="mascota.mascotaRaza"  [group]="true" [filter]="true" name="mascotaRaza" #mascotaRaza="ngModel" [required]="true" placeholder="Sin seleccionar">
                            <ng-template let-group pTemplate="group">
                                <div class="flex align-items-center">
                                    <span>{{ group.value }}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Fecha de Nacimiento</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <p-calendar class="p-inputtext-lg" [(ngModel)]="mascota.mascotaFechaNacimiento" [showIcon]="true" dataType="string" dateFormat="dd-MM-yy" [maxDate]="diaActual" name="mascotaFechaNacimiento" #mascotaFechaNacimiento="ngModel"></p-calendar>
                        </span>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Color</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <i class="pi pi-palette"></i>
                            <input type="text" class="p-inputtext-lg" pInputText [(ngModel)]="mascota.mascotaColor" name="mascotaColor" #mascotaColor="ngModel"/>
                        </span>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Sexo</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <p-dropdown [options]="sexo" class="p-inputtext-lg" [(ngModel)]="mascota.mascotaSexo" name="mascotaSexo" #mascotaSexo="ngModel"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Observaciones</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <i class="pi pi-align-left"></i>
                            <textarea style="font-size: 18px;" pInputText [(ngModel)]="mascota.mascotaObservaciones" name="mascotaObservaciones" #mascotaObservaciones="ngModel" rows="5" cols="30"  pInputTextarea [autoResize]="true"></textarea>
                        </span>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Estado</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <i class="pi pi-lock"></i>
                            <input type="text" class="p-inputtext-lg" pInputText placeholder="Habilitado" [(ngModel)]="mascota.mascotaEstado" name="mascotaEstado" #mascotaEstado="ngModel" disabled=""/>
                        </span>
                    </div>
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-12">
                    <p-button icon="pi pi-check-circle" label="Guardar" type="submit" [disabled]="!mascotaForm.form.valid" class="mr-5" styleClass="p-button-raised p-button-text p-button-success"></p-button>
                    <p-button icon="pi pi-eraser" type="reset" label="Limpiar" styleClass="p-button-outlined p-button-danger"></p-button>
                </div>
            </div>
        </form>
    </div>
</div>
