<div class="card">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h1 style="font-family: 'Poppins', sans-serif;">Datos Completos</h1>
    <p-card>
        <div class="container mb-5" style="text-align: center;">
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        </div>
        <div style="font-family: 'Poppins', sans-serif;" class="container">
            <p-splitter styleClass="mb-5">
                <ng-template pTemplate>
                    <div style="font-family: 'Poppins', sans-serif;" class="col block align-items-center justify-content-center">
                        <h4><b>ID: </b></h4>
                        <h4><b>CATEGORIA: </b></h4>
                        <h4><b>TIPO: </b></h4>
                        <h4><b>PRECIO: </b></h4>
                        <h4><b>ESTADO: </b></h4>
                        <h4><b>FECHA DE CREACION: </b></h4>
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div style="font-family: 'Poppins', sans-serif;" class="col block align-items-center justify-content-center">
                        <h4>{{servicio.servicioId}}</h4>
                        <h4>{{servicio.servicioCategoria}}</h4>
                        <h4>{{servicio.servicioTipo}}</h4>
                        <h4>{{servicio.servicioPrecio}}</h4>
                        <h4><p-tag [value]="servicio.servicioEstado"
                            [severity]="obtenerEstado(servicio.servicioEstado)"></p-tag></h4>
                        <h4>{{servicio.servicioFechaCreacion}}</h4>
                    </div>
                </ng-template>
            </p-splitter>
            <h2 style="font-family: 'Poppins', sans-serif;">Productos</h2>
            <p-table #dt [value]="servicio.productos" selectionMode="multiple" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>NOMBRE</th>
                        <th>CATEGORIA</th>
                        <th>MARCA</th>
                        <th>ESTADO</th>
                        <th>MAS INFORMACIÓN</th>
                    </tr>
                    <tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-producto>
                    <tr [pSelectableRow]="rowData">
                        <td>{{producto.productoNombre}}</td>
                        <td>{{producto.productoCategoria}}</td>
                        <td>{{producto.productoMarca}}</td>
                        <td>
                            <p-tag [value]="producto.productoEstado"
                            [severity]="obtenerEstado(producto.productoEstado)"></p-tag>
                        </td>
                        <td>
                            <p-button (click)="detalleProducto(producto.productoId)" icon="pi pi-search" [label]="producto.productoNombre" styleClass="p-button-rounded p-button-help p-button-text p-button-raised"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="field grid">
                <div class="col-12 md:col-12">
                    <p-button (click)="regresarListaServicios()" icon="pi pi-arrow-left" label="Regresar" styleClass="p-button-outlined p-button-danger"></p-button>
                </div>
            </div>
        </div>
    </p-card>
</div>

