<div class="card">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h1 style="font-family: 'Poppins', sans-serif;">Datos Completos</h1>
    <p-card>
        <div class="container mb-5" style="text-align: center;">
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        </div>
        <div style="font-family: 'Poppins', sans-serif;" class="container">
            <p-splitter styleClass="mb-5">
                <ng-template pTemplate>
                    <div style="font-family: 'Poppins', sans-serif;" class="col block align-items-center justify-content-center">
                        <h4><b>ID: </b></h4>
                        <h4><b>NUMERO DE DOCUMENTO: </b></h4>
                        <h4><b>NOMBRES: </b></h4>
                        <h4><b>TELEFONO: </b></h4>
                        <h4><b>DIRECCION: </b></h4>
                        <h4><b>CORREO: </b></h4>
                        <h4><b>GENERO: </b></h4>
                        <h4><b>ESTADO: </b></h4>
                        <h4><b>FECHA DE CREACION: </b></h4>
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div style="font-family: 'Poppins', sans-serif;" class="col block align-items-center justify-content-center">
                        <h4>{{cliente.clienteId}}</h4>
                        <h4>{{cliente.clienteNroDocumento}}</h4>
                        <h4>{{cliente.clienteNombre}}</h4>
                        <h4>{{cliente.clienteTelefono}}</h4>
                        <h4>{{cliente.clienteDireccion}}</h4>
                        <h4>{{cliente.clienteCorreo}}</h4>
                        <h4>{{cliente.clienteGenero}}</h4>
                        <h4>{{cliente.clienteEstado}}</h4>
                        <h4>{{cliente.clienteFchaCreacion}}</h4>
                    </div>
                </ng-template>
            </p-splitter>
            <div class="field grid">
                <div class="col-12 md:col-12">
                    <p-button (click)="regresarListaClientes()" icon="pi pi-arrow-left" label="Regresar" styleClass="p-button-outlined p-button-danger"></p-button>
                </div>
            </div>
        </div>
    </p-card>
</div>


