<div class="card">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h1 style="font-family: 'Poppins', sans-serif;">Registrar Producto</h1>
    <p-table #dt [value]="proveedores" selectionMode="multiple" [exportHeader]="'customExportHeader'" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th pSortableColumn="proveedorRUC">RUC<p-sortIcon field="proveedorRUC"></p-sortIcon></th>
                <th pSortableColumn="proveedorRazonSocial">RAZON SOCIAL<p-sortIcon field="proveedorRazonSocial"></p-sortIcon></th>
                <th pSortableColumn="proveedorTelefono">TELEFONO<p-sortIcon field="proveedorTelefono"></p-sortIcon></th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="proveedorId"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="proveedorRUC"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="proveedorRazonSocial"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="proveedorTelefono"></p-columnFilter>
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-proveedor>
            <tr [pSelectableRow]="rowData">
                <td>{{proveedor.proveedorId}}</td>
                <td>{{proveedor.proveedorRUC}}</td>
                <td>{{proveedor.proveedorRazonSocial}}</td>
                <td>{{proveedor.proveedorTelefono}}</td>
            </tr>
        </ng-template>
    </p-table>
        <div class="col-12 md:col-12">
            <form (ngSubmit)="registroProducto()" #productoForm="ngForm" class="form-sample">
            <div class="card p-fluid">
                <h5>Información</h5>
                <div class="field grid">
                    <label style="color: #f00;" htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Campos requeridos (*)</label>
                </div>
                <div class="field grid">
                    <label for="proveedor" htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Proveedores (*)</label>
                    <div class="col-12 md:col-8">
                        <p-multiSelect class="p-inputtext-lg" [options]="proveedores" [(ngModel)]="producto.proveedores" defaultLabel="Selecciona los proveedores" optionLabel="proveedorRazonSocial" display="chip" id="proveedor" name="proveedor" #proveedor="ngModel" required></p-multiSelect>
                    </div>
                    <!-- <select class="form-control" [(ngModel)]="producto.proveedores" name="proveedor" multiple="multiple" size="10" required>
                        <option [ngValue]="undefined">--- selecionar uno o varios Proveedores ---</option>
                        <option *ngFor="let proveedor of proveedores" [ngValue]="proveedores" >{{proveedor.proveedorRazonSocial}}</option>
                    </select> -->
                </div>
                <div class="field grid">
                    <label for="nombre" htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Nombre (*)</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input type="text" class="p-inputtext-lg" pInputText [(ngModel)]="producto.productoNombre" name="productoNombre" #productoNombre="ngModel" required/>
                        </span>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Categoria (*)</label>
                    <div class="col-12 md:col-8">
                        <p-dropdown [options]="categorias" class="p-inputtext-lg" [(ngModel)]="producto.productoCategoria" optionLabel="name" optionValue="name" [filter]="true" name="productoCategoria" #productoCategoria="ngModel"  [required]="true" placeholder="Sin seleccionar"></p-dropdown>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Marca (*)</label>
                    <div class="col-12 md:col-8">
                        <p-dropdown [options]="marcas" class="p-inputtext-lg" [(ngModel)]="producto.productoMarca" optionLabel="name" optionValue="name" [filter]="true" name="productoMarca" #productoMarca="ngModel"  [required]="true" placeholder="Sin seleccionar"></p-dropdown>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Precio (*)</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <i class="pi pi-money-bill"></i>
                            <input type="number" class="p-inputtext-lg" pInputText [(ngModel)]="producto.productoPrecio" name="productoPrecio" #productoPrecio="ngModel" [required]="true" [min]="0" [max]="99999"/>
                        </span>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Descripción</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <i class="pi pi-align-left"></i>
                            <textarea style="font-size: 18px;" pInputText [(ngModel)]="producto.productoDescripcion" name="productoDescripcion" #productoDescripcion="ngModel" rows="5" cols="30"  pInputTextarea [autoResize]="true"></textarea>
                        </span>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Estado</label>
                    <div class="col-12 md:col-8">
                        <span class="p-input-icon-left">
                            <i class="pi pi-lock"></i>
                            <input type="text" class="p-inputtext-lg" pInputText placeholder="Habilitado" [(ngModel)]="producto.productoEstado" name="productoEstado" #productoEstado="ngModel" disabled=""/>
                        </span>
                    </div>
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-12">
                    <p-button icon="pi pi-save" label="Guardar" type="submit" [disabled]="!productoForm.form.valid" class="mr-5" styleClass="p-button-raised p-button-text p-button-success"></p-button>
                    <p-button icon="pi pi-eraser" type="reset" label="Limpiar" styleClass="p-button-outlined p-button-danger"></p-button>
                </div>
            </div>
        </form>
    </div>
</div>
