<div class="card">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h1 style="font-family: 'Poppins', sans-serif;">Lista de Historias</h1>
    <p-table #dt [value]="historias" selectionMode="multiple" [(selection)]="seleccionHistoria"
        [exportHeader]="'customExportHeader'" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25, 50]">
        <ng-template pTemplate="caption">
            <div class="flex">
                <div class="justify-content-center" style="text-align: center;">
                    <p-button styleClass="p-button-outlined" label="Registrar Historia" icon="pi pi-plus-circle"
                        (click)="showDialog()"></p-button>
                    <p-dialog header="REGISTRO DE HISTORIA VETERINARIA" [(visible)]="visible"
                        [style]="{ width: '50vw' }" [modal]="true">
                        <p class="m-0">Para el registro de una historia, es necesario elegir una mascota.</p>
                        <br>
                        <form (ngSubmit)="registroHistoria()" #historiaForm="ngForm" class="form-sample">
                            <div class="flex py-2 justify-content-center">
                                <label style="color: #f00;" htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Campos
                                    requeridos (*)</label>
                                <div class="field grid">
                                    <p-dropdown appendTo="body" [options]="mascotas" [(ngModel)]="historia.mascota"
                                        optionLabel="mascotaNombre" [filter]="true" id="mascota" name="mascota"
                                        #mascota="ngModel" [required]="true" placeholder="Sin seleccionar"></p-dropdown>
                                </div>
                            </div>
                            <p-button icon="pi pi-save" label="Registrar" type="submit"
                                [disabled]="!historiaForm.form.valid" styleClass="p-button-text p-button-raised p-button-success"
                                (onClick)="visible = false"></p-button>
                        </form>
                    </p-dialog>
                </div>
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(historias)"
                    class="p-button-success mr-2 ml-auto" pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf(historias)"
                    class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th pSortableColumn="historiaFechaCreacion">FECHA CREACION<p-sortIcon
                        field="historiaFechaCreacion"></p-sortIcon></th>
                <th pSortableColumn="historiaEstado">ESTADO<p-sortIcon field="historiaEstado"></p-sortIcon></th>
                <th pSortableColumn="mascota.mascotaNombre">MASCOTA<p-sortIcon
                        field="mascota.mascotaNombre"></p-sortIcon></th>
                <th pSortableColumn="mascota.cliente.clienteNombre">PROPIETARIO<p-sortIcon
                        field="mascota.cliente.clienteNombre"></p-sortIcon></th>
                <th>ACCIONES</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <p-columnFilter type="text" field="historiaFechaCreacion"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="historiaEstado"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="mascota.mascotaNombre"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="mascota.cliente.clienteNombre"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-historia>
            <tr [pSelectableRow]="rowData">
                <td>{{historia.historiaId}}</td>
                <td>{{historia.historiaFechaCreacion}}</td>
                <td>
                    <p-tag [value]="historia.historiaEstado"
                        [severity]="obtenerEstado(historia.historiaEstado)"></p-tag>
                </td>
                <td>{{historia.mascota.mascotaNombre}}</td>
                <td>{{historia.mascota.cliente.clienteNombre}}</td>
                <td>
                    <div class="flex justify-content-start flex-wrap gap-3 mb-4">
                        <p-button icon="pi pi-info-circle"
                            styleClass="p-button-rounded p-button-info p-button-text p-button-raised"
                            (click)="detalleHistoria(historia.historiaId)"></p-button>
                        <p-button icon="pi pi-pencil"
                            styleClass="p-button-rounded p-button-warning p-button-text p-button-raised"
                            (click)="actualizaHistoria(historia.historiaId)"></p-button>
                        <p-button icon="pi pi-ban"
                            styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised"
                            (click)="inhabilitaHistoria(historia.historiaId)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
