<div class="card">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h1 style="font-family: 'Poppins', sans-serif;">Actualizar Historia</h1>
    <div class="col-12 md:col-12">
        <form (ngSubmit)="actualizaHistoria()" #historiaForm="ngForm" class="form-sample">
            <div class="card p-fluid">
                <h5>Datos personales</h5>
                <div class="field grid">
                    <label style="color: #f00;" htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Campos requeridos
                        (*)</label>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlFor="name2">Id</label>
                        <input pInputText type="text" class="p-inputtext-lg" [placeholder]="historia.historiaId" [disabled]="true"/>
                    </div>
                    <div class="field col">
                        <label for="mascota" htmlFor="name3">Mascota (*)</label>
                        <div>
                            <p-dropdown class="p-inputtext-lg" [options]="mascotas" [(ngModel)]="historia.mascota"
                                optionLabel="mascotaNombre" [filter]="true" id="mascota" name="mascota" #mascota="ngModel"
                                placeholder="Sin seleccionar" [required]="true"></p-dropdown>
                        </div>
                    </div>
                    <div class="field col">
                        <label htmlFor="name3">Estado</label>
                        <div>
                            <span class="p-input-icon-left">
                                <p-dropdown [options]="estado" class="p-inputtext-lg" [(ngModel)]="historia.historiaEstado"
                                    name="historiaEstado" #historiaEstado="ngModel"></p-dropdown>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-12">
                    <p-button icon="pi pi-check-circle" label="Actualizar" type="submit"
                        [disabled]="!historiaForm.form.valid" class="mr-5"
                        styleClass="p-button-raised p-button-text p-button-success"></p-button>
                    <p-button icon="pi pi-arrow-left" (click)="regresaListaHistorias()" label="Regresar"
                        styleClass="p-button-outlined p-button-danger"></p-button>
                </div>
            </div>
        </form>
    </div>
</div>
