<div class="card">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h1 style="font-family: 'Poppins', sans-serif;">Datos Completos</h1>
    <p-card>
        <div class="container mb-5" style="text-align: center;">
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        </div>
        <div style="font-family: 'Poppins', sans-serif;" class="container">
            <p-splitter styleClass="mb-5">
                <ng-template pTemplate>
                    <div style="font-family: 'Poppins', sans-serif;" class="col block align-items-center justify-content-center">
                        <h4><b>ID: </b></h4>
                        <h4><b>RUC: </b></h4>
                        <h4><b>RAZON SOCIAL: </b></h4>
                        <h4><b>TELEFONO: </b></h4>
                        <h4><b>DIRECCION: </b></h4>
                        <h4><b>CORREO: </b></h4>
                        <h4><b>ESTADO: </b></h4>
                        <h4><b>FECHA DE CREACION: </b></h4>
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div style="font-family: 'Poppins', sans-serif;" class="col block align-items-center justify-content-center">
                        <h4>{{proveedor.proveedorId}}</h4>
                        <h4>{{proveedor.proveedorRUC}}</h4>
                        <h4>{{proveedor.proveedorRazonSocial}}</h4>
                        <h4>{{proveedor.proveedorTelefono}}</h4>
                        <h4>{{proveedor.proveedorDireccion}}</h4>
                        <h4>{{proveedor.proveedorCorreo}}</h4>
                        <h4>{{proveedor.proveedorEstado}}</h4>
                        <h4>{{proveedor.proveedorFchaCreacion}}</h4>
                    </div>
                </ng-template>
            </p-splitter>
            <div class="field grid">
                <div class="col-12 md:col-12">
                    <p-button (click)="regresaListaProveedor()" icon="pi pi-arrow-left" label="Regresar" styleClass="p-button-outlined p-button-danger"></p-button>
                </div>
            </div>
        </div>
    </p-card>
</div>
